<div class="form-body">
  <h4>AES Decryption Algorithm</h4>

  <p class="instructions">
  Enter a 16-byte encrypted message and a key in hex format to decrypt the message using the AES algorithm.
  Key sizes up to 256-bit are supported.
  </p>



  <form class="form-horizontal" name="decryptForm">

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button class="btn btn-primary btn-sm"
          type="button"
          ng-show="encryption.ciphertext.value"
          ng-click="copyFromEncrypt(); decryptForm.$setDirty()">
          <i class="fa fa-clone"></i> Copy encryption values
        </button>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" for="ciphertext">Ciphertext</label>
        <div class="col-sm-8">
          <input class="form-control"
          ng-model="decryption.ciphertext.value"
          maxlength="48"
          type="text"
          value="{{decryption.ciphertext.value}}"
          placeholder="Enter text to decrypt in hex format"
          ng-change="decryption.plaintext.value = ''"
          required>
        </div>
        <div class="col-sm-2">

        </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="key">Key</label>
      <div class="col-sm-8">
        <input class="form-control"
        ng-model="decryption.key.value"
        maxlength="80" type="text"
        value="{{decryption.key.value}}"
        placeholder="Enter a decryption key in {{decryption.key.type}} format"
        ng-change="decryption.plaintext.value = ''"
        required>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-success btn-sm"
          type="button"
          ng-click="setType('decryption','key','ascii')"
          ng-disabled="decryption.key.type == 'ascii'">
          <i class="fa fa-font"></i>
        </button>
        <button class="btn btn-success btn-sm"
          type="button"
          ng-click="setType('decryption','key','hex')"
          ng-disabled="decryption.key.type == 'hex'">
          <i class="fa fa-calculator"></i>
        </button>
      </div>
    </div>

    <div class="form-group" ng-show="decryption.plaintext.value">
      <label class="col-sm-2 control-label" for="plaintext">Plaintext</label>

      <div class="col-sm-8">

        <div class="well well-sm">
        {{decryption.plaintext.value}}
        </div>

        <button class="btn btn-default btn-sm"
          type="button"
          ng-show="!showDetails"
          ng-click="showDetails = true">
          <i class="fa fa-chevron-circle-down"></i> View details
        </button>

        <button class="btn btn-default btn-sm"
          type="button"
          ng-show="showDetails"
          ng-click="showDetails = false">
          <i class="fa fa-chevron-circle-up"></i> Hide details
        </button>

        <aesdetails ng-show="showDetails" data="decryption"></aesdetails>

      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button class="btn btn-primary" type="button" ng-click="decrypt(decryption.ciphertext,decryption.key)" ng-disabled="decryptForm.$invalid || decryption.plaintext.value">Decrypt</button>
        <button class="btn btn-primary" type="button" ng-click="clear(decryption.type)" ng-disabled="!decryptForm.$dirty">Clear</button>
      </div>
    </div>
  </form>
</div>
