<div class="form-body">
  <h4>AES Encryption Algorithm</h4>

  <p class="instructions">
  Enter a 16-byte message (ASCII or hex) and a key to encrypt the message using the AES algorithm.
  Key sizes up to 256-bit are supported. The message and key are automatically padded to
  the correct length. Click on the <i class="fa fa-font"></i> and <i class="fa fa-calculator"></i>
  icons next to the input fields to switch between ASCII and hex data entry.
  </p>

  <form class="form-horizontal" name="encryptForm">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="plaintext">Plaintext</label>
        <div class="col-sm-8">
          <input class="form-control"
          ng-model="encryption.plaintext.value"
          maxlength="{{encryption.plaintext.type == 'ascii' ? 16 : 48}}"
          type="text"
          value="{{encryption.plaintext.value}}"
          placeholder="Enter text to encrypt in {{encryption.plaintext.type}} format"
          ng-change="encryption.ciphertext.value = ''"
          required>
        </div>
        <div class="col-sm-2">
          <button class="btn btn-success btn-sm"
            type="button"
            ng-click="setType('encryption','plaintext','ascii')"
            ng-disabled="encryption.plaintext.type == 'ascii'">
            <i class="fa fa-font"></i>
          </button>
          <button class="btn btn-success btn-sm"
            type="button"
            ng-click="setType('encryption','plaintext', 'hex')"
            ng-disabled="encryption.plaintext.type == 'hex'">
            <i class="fa fa-calculator"></i>
          </button>
        </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label" for="key">Key</label>
      <div class="col-sm-8">
        <input class="form-control"
        ng-model="encryption.key.value"
        maxlength="{{encryption.key.type == 'ascii' ? 32 : 80}}" type="text"
        value="{{encryption.key.value}}"
        placeholder="Enter an encryption key in {{encryption.key.type}} format"
        ng-change="encryption.ciphertext.value = ''"
        required>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-success btn-sm"
          type="button"
          ng-click="setType('encryption','key','ascii')"
          ng-disabled="encryption.key.type == 'ascii'">
          <i class="fa fa-font"></i>
        </button>
        <button class="btn btn-success btn-sm"
          type="button"
          ng-click="setType('encryption','key','hex')"
          ng-disabled="encryption.key.type == 'hex'">
          <i class="fa fa-calculator"></i>
        </button>
      </div>
    </div>

    <div class="form-group" ng-show="encryption.ciphertext.value">
      <label class="col-sm-2 control-label" for="ciphertext">Ciphertext</label>

      <div class="col-sm-8">

        <div class="well well-sm">
        {{encryption.ciphertext.value}}
        </div>

        <button class="btn btn-default btn-sm"
          type="button"
          ng-show="!showDetails"
          ng-click="showDetails = true">
          <i class="fa fa-chevron-circle-down"></i> View details
        </button>

        <button class="btn btn-default btn-sm"
          type="button"
          ng-show="showDetails"
          ng-click="showDetails = false">
          <i class="fa fa-chevron-circle-up"></i> Hide details
        </button>

        <aesdetails ng-show="showDetails" data="encryption"></aesdetails>

      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button class="btn btn-primary" type="button" ng-click="encrypt(encryption.plaintext,encryption.key)" ng-disabled="encryptForm.$invalid || encryption.ciphertext.value">Encrypt</button>
        <button class="btn btn-primary" type="button" ng-click="clear(encryption.type)" ng-disabled="!encryptForm.$dirty">Clear</button>
      </div>
    </div>
  </form>
</div>
