<div class="jumbotron">

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#encryption">Encryption</a></li>
    <li><a data-toggle="tab" href="#decryption">Decryption</a></li>
  </ul>

  <div class="tab-content">

    <div id="encryption" class="tab-pane fade in active">
      <div ng-include="'partials/encryption.html'"></div>
    </div>

    <div id="decryption" class="tab-pane fade">
      <div ng-include="'partials/decryption.html'"></div>
    </div>

  </div>

</div>
