  <div class="keyinfo panel panel-default">
    <div class="panel-heading">
      <label>AES {{type}} using
      <span>{{key.size*8}}-bit Key with</span>
      <span ng-show="key.padding"> {{key.padding*8}}-bits padding</span>
      <span ng-show="!key.padding"> no padding</span>
      </label>
    </div>
    <div class="panel-body">
      <div>
          <label>Complete key:</label>
      </div>
      <div>
        {{key.parsedKey}}
      </div>
      <br>
      <div>
          <label>Expanded key:</label>
      </div>
      <div>
        {{key.expandedKey}}
      </div>
      <br>

      <table class="table table-striped table-bordered logs">
        <tr>
          <th>Round</th>
          <th>Description</th>
          <th>State</th>
        </tr>
        <tr ng-repeat="log in result.log">
          <td>{{log.round}}</td>
          <td>{{log.description}}</td>
          <td>{{log.state}}</td>
        </tr>
      </table>
    </div>
  </div>
