  <div class="keyinfo panel panel-default">
    <div class="panel-heading">
      <label>AES {{data.type}} using
      <span>{{data.key.size*8}}-bit Key with</span>
      <span ng-show="data.key.padding"> {{data.key.padding*8}}-bits padding</span>
      <span ng-show="!data.key.padding"> no padding</span>
      </label>
    </div>
    <div class="panel-body">
      <div>
          <label>Complete key:</label>
      </div>
      <div>
        {{data.key.parsedKey}}
      </div>
      <br>
      <div>
          <label>Expanded key:</label>
      </div>
      <div>
        {{data.key.expandedKey}}
      </div>
      <br>

      <table class="table table-striped table-bordered logs">
        <tr>
          <th>Round</th>
          <th>Description</th>
          <th>State</th>
        </tr>
        <tr ng-repeat="log in data.result.log">
          <td>{{log.round}}</td>
          <td>{{log.description}}</td>
          <td>{{log.state}}</td>
        </tr>
      </table>
    </div>
  </div>
